html {
	overflow-y: scroll;
}

body {
    font-family: sans-serif;
}

.outer-container{
    width:100%
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
	height: 10%;
	width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.title {
	letter-spacing: 3.00vw;
	text-align: center;
	overflow: hidden;
}

.hide {
	display: none;
}

.content {
	margin-bottom: 2rem;
	position: relative;
	/*min-height: 50em;*/
}

.carousel {
	margin-bottom: 3rem;
}

img {
	width: 50%;
}

.close {
	position: absolute;
	right: 3px;
	top: -4px;
	font-size: 1.5em;
}

.popup {
	padding: 1.5em;
	top: 0;
	left: 0;
	width: 80%;
	background: white;
	position: absolute;
	transform: translateX(7%);
}

.popup img {
	width: 100%;
}


.row.text {
	text-align: center;
}


.line:after {
	content: '';
    width: 0;
    height: 96%;
    position: absolute;
    border: 2px solid;
    top: 4%;
    z-index: -1;
}

.line.left:after {
	left: 0;
	border-color: white;
}

.line.right:after {
	right: 0;
	border-color: white;
}

ul {
	list-style: none;
}

a {
	color: #222;
	text-decoration: none;
}

a.external {
	color: #1EAEDB;
	font-weight: 900;
}

a:hover {
	color: gray;
}

.navbar-list {
/*	list-style: none;
	margin: 0;
	width: 100%;
	display: table;
	table-layout: fixed; */

	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
	border-spacing: 10px;
	border-collapse: separate;
}

.navbar-item {
/*	display: inline;
    margin-bottom: 0;
    height: 6rem;
    display: table-cell;
    width: auto;
    text-align: center;*/

    width: 20%;
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
    /*background: #fff;*/
    text-align: center;
}

.navbar-item a {
	font-weight: 600;
	letter-spacing: .2rem;
	/*margin-right: 35px;*/
	/*line-height: 6.5rem;*/
	width: 100%;
}

.popover-list {
	margin: 1rem;
    padding: 0;
}

.popover-item {
    margin: 0;
    margin-bottom: 2rem;
}

.popover-item:last-child {
	margin-bottom: 0;
}

a.popover-link {
	margin: 0;
	line-height: 2rem;
}

.box-shadow-menu {
	border-bottom: 17px double black;
	border-top: 6px solid black;
	content: "";
	height: 0.5rem;
	width: 3rem;
	position: absolute;
	top: 15px;
}
.logo {
	display: block;
	margin-top: 10px;
}

.logo img {
	width: 4rem;
	border-radius: 5px;
	display: block;
	margin: auto;
}

.carousel {
	position: relative;
}

.carousel img {
	width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.offscreen {
	position: absolute;
    left: -999em;
}

img.slide {
	transition-duration: 600ms;
	-webkit-transition-duration: 600ms;
	opacity: 0;
}

img.ondeck {
	position: absolute;
    z-index: -1;
    left: 0;
}

.arrow-link {
	display: block;
}

.arrow {
	cursor: pointer; 
	width: 0; 
	height: 0;
	border-top: 5em solid transparent;
	border-bottom: 5em solid transparent;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}

.right {
  border-left: 1.4em solid;
  right: 1px;
}

.right:hover {
	border-left-color: grey;
}

.left {
  border-right: 1.4em solid;   
  left: 0;
}

.left:hover {
	border-right-color: grey;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
    font-weight: 600;
}

.navbar-item:hover > .popover {
	display: block;
}

.popover:active {
	display: block;
}
/* Popover */
.popover {
	background-color: rgb(229, 238, 251);
	z-index: 1;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	/*background: #fff;*/
	border: 3px solid #fff;
	border-radius: 4px;
	top: 92%;
	left: -50%;
	right: -23%;
}

.outer {
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: none;
	margin-bottom: 6rem;
}

html {
	background-color: rgb(229, 238, 251);
}

footer {
	margin-top: 5rem;
    text-align: center;
}

audio {
	display: none;
}

@media (max-width: 905px) {
/*	.navbar-list {
		display: block;
	    position: inherit;
        text-align: center;
	}
	.navbar-item {
		float: none;
		display: inline-block;
	}	*/
/*	li:last-child a {
		margin-right: 0;
	}*/
	.header pre {
		display: block;
		text-align: center;
		margin: 0;
		border: 0 solid #fff;
		border-bottom-width: 3px;
     	padding-bottom: 8px; 
	}
}

@media (max-width: 508px) {
/*	.navbar-item a {
		margin: 0;
	}*/
}

@media (max-width: 370px) {
/*	.navbar-item a {
		font-size: 1.2rem;
	}*/
	pre {
		font-size: 7px;
	}
}
